{% load static %}
<ul class="list-unstyled components">
    <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}" alt=""> Dashboard</a></li>
    <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}" alt=""> Vendors</a></li> -->
    <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}" alt=""> Order Management</a></li>
    <li class="mb-2"><a href="{% url 'brand_list' %}"><img
                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}" alt="">
            Brands</a></li> -->
    <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}" alt=""> Categories</a></li> -->
    <li class="mb-2"><a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}" alt="">
            Products</a></li>
    <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}" alt="">
            Customers</a></li> -->
    <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}" alt=""> Staff
            Users</a></li>

    <li class="mb-2"><a href="{% url 'logout' %}"><img src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}" alt=""> Logout</a>
    </li>
</ul>