{% load static %}
{% if request.adminuser.role.role == 'Superadmin' %}
<!-- Superadmin -->
<ul class="list-unstyled components">
        <li class="mb-2 {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <a href="{% url 'admin_dashboard' %}"><img src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}" alt=""> Dashboard</a>
        </li>
        <li class="mb-2 {% if request.resolver_match.url_name == 'vendor_list' %}active{% endif %}">
            <a href="{% url 'vendor_list' %}"><img src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}" alt=""> Seller</a>
        </li>
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'brand_list' %}active{% endif %}">
            <a href="{% url 'brand_list' %}"><img src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}"> Brands</a>
        </li> {% endcomment %}
        {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'reviews_list' %}active{% endif %}">
            <a href="{% url 'reviews_list' %}"><img src="{% static 'adminuser/images/sidebar/ReviewIcon.svg' %}"> Reviews</a>
        </li> {% endcomment %}
        <li class="mb-2 {% if request.resolver_match.url_name == 'import_export_list_tasks' %}active{% endif %}">
            <a href="{% url 'import_export_list_tasks' %}"><img src="{% static 'adminuser/images/sidebar/brands.svg' %}" alt=""> Import/Export</a>
        </li>
        {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">
            <a href="{% url 'category_list' %}"><img src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a>
        </li> {% endcomment %}

        <li class="mb-2 {% if request.resolver_match.url_name == 'activity_logs' %}active{% endif %}">
            <a href="{% url 'activity_logs' %}"><img src="{% static 'adminuser/images/sidebar/ActivityIcon.svg' %}" alt=""> Activity Logs</a>
        </li>


        <li class="mb-2 {% if request.resolver_match.url_name in 'product_list,product_add,product_edit,category_list,category_add,category_edit,brand_list,brand_add,brand_edit,bestseller_list,clearance_list,new_releases_list,hot_deals_list,popular_list,todays_deals_list,whats_on_sale_list,trending_deals_list,top_rated_list' %}active{% endif %}">
            <a href="{% url 'product_list' %}"
               class="d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse"
               data-bs-target="#productManagementDropdown"
               aria-expanded="{% if request.resolver_match.url_name in 'product_list,product_add,product_edit,category_list,category_add,category_edit,brand_list,brand_add,brand_edit,bestseller_list,clearance_list,new_releases_list,hot_deals_list,popular_list,todays_deals_list,whats_on_sale_list,trending_deals_list,top_rated_list' %}true{% else %}false{% endif %}"
               aria-controls="productManagementDropdown">
                <span>
                    <img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}" alt="">
                    Product Management
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-4 mt-2 {% if request.resolver_match.url_name in 'product_list,product_add,product_edit,category_list,category_add,category_edit,brand_list,brand_add,brand_edit,bestseller_list,clearance_list,new_releases_list,hot_deals_list,popular_list,todays_deals_list,whats_on_sale_list,trending_deals_list,top_rated_list' %}show{% endif %}" id="productManagementDropdown">
                <li class="mb-1 {% if request.resolver_match.url_name in 'product_add' %}active{% endif %}">
                    <a href="{% url 'product_add' %}">  <img src="{% static 'adminuser/images/sidebar/addproductIcon.svg' %}"> Add Products</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'product_list,product_edit' %}active{% endif %}">
                    <a href="{% url 'product_list' %}">  <img src="{% static 'adminuser/images/sidebar/ProductsIcon.svg' %}"> Products</a>
                </li>
                <li class="mb-2 {% if request.resolver_match.url_name == 'reviews_list' %}active{% endif %}">
                    <a href="{% url 'reviews_list' %}"><img src="{% static 'adminuser/images/sidebar/ReviewIcon.svg' %}"> Reviews</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'category_list,category_add,category_edit' %}active{% endif %}">
                    <a href="{% url 'category_list' %}"><img src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'brand_list,brand_add,brand_edit' %}active{% endif %}">
                    <a href="{% url 'brand_list' %}"><img src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}"> Brands</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'bestseller_list' %}active{% endif %}">
                    <a href="{% url 'bestseller_list' %}"><img src="{% static 'adminuser/images/sidebar/SellerIcon.svg' %}" alt="Best Sellers"> Best Sellers</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'clearance_list' %}active{% endif %}">
                    <a href="{% url 'clearance_list' %}"><img src="{% static 'adminuser/images/sidebar/ClearanceIcon.svg' %}" alt="Clearance"> Clearance</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'new_releases_list' %}active{% endif %}">
                    <a href="{% url 'new_releases_list' %}"><img src="{% static 'adminuser/images/sidebar/ReleasesIcon.svg' %}" alt="New Releases"> New Releases</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'hot_deals_list' %}active{% endif %}">
                    <a href="{% url 'hot_deals_list' %}"><img src="{% static 'adminuser/images/sidebar/DealsIcon.svg' %}" alt="Hot Deals"> Hot Deals</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'popular_list' %}active{% endif %}">
                    <a href="{% url 'popular_list' %}"><img src="{% static 'adminuser/images/sidebar/PopularIcon.svg' %}" alt="Popular Products"> Popular Products</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'todays_deals_list' %}active{% endif %}">
                    <a href="{% url 'todays_deals_list' %}"><img src="{% static 'adminuser/images/sidebar/DealsIcon.svg' %}" alt="Today's Deals"> Today's Deals</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'whats_on_sale_list' %}active{% endif %}">
                    <a href="{% url 'whats_on_sale_list' %}"><img src="{% static 'adminuser/images/sidebar/DealsIcon.svg' %}" alt="Whats On Sale"> Whats On Sale</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'trending_deals_list' %}active{% endif %}">
                    <a href="{% url 'trending_deals_list' %}"><img src="{% static 'adminuser/images/sidebar/DealsIcon.svg' %}" alt="Trending Deals"> Trending Deals</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'top_rated_list' %}active{% endif %}">
                    <a href="{% url 'top_rated_list' %}"><img src="{% static 'adminuser/images/sidebar/PopularIcon.svg' %}" alt="Top Rated"> Top Rated</a>
                </li>
            </ul>
        </li>
        <li class="mb-2 {% if request.resolver_match.url_name in 'rate_by_zone_list,delivery_zone_list_form,postcode_zone_list_form,shipping_rate_by_zone_list_form,courier_list,courier_create,courier_update' %}active{% endif %}">
            <a href="{% url 'rate_by_zone_list' %}"
               class="d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse"
               data-bs-target="#rateByDropdown"
               aria-expanded="{% if request.resolver_match.url_name in 'delivery_zone_list_form,postcode_zone_list_form,shipping_rate_by_zone_list_form,courier_list,courier_create,courier_update' %}true{% else %}false{% endif %}"
               aria-controls="rateByDropdown">
                <span>
                    <img src="{% static 'adminuser/images/sidebar/ZoneIcon.svg' %}">
                    Rate By
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-4 mt-2 {% if request.resolver_match.url_name in 'delivery_zone_list_form,postcode_zone_list_form,shipping_rate_by_zone_list_form,courier_list,courier_create,courier_update' %}show{% endif %}" id="rateByDropdown">
                <li class="mb-1 {% if request.resolver_match.url_name == 'delivery_zone_list_form' %}active{% endif %}">
                    <a href="{% url 'delivery_zone_list_form' %}">  <img src="{% static 'adminuser/images/sidebar/DeliveryIcon.svg' %}"> Delivery Zone</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'postcode_zone_list_form' %}active{% endif %}">
                    <a href="{% url 'postcode_zone_list_form' %}"><img src="{% static 'adminuser/images/sidebar/PostcodeIcon.svg' %}"> Postcode</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'shipping_rate_by_zone_list_form' %}active{% endif %}">
                    <a href="{% url 'shipping_rate_by_zone_list_form' %}"><img src="{% static 'adminuser/images/sidebar/RatezoneIcon.svg' %}"> Shipping Rate By Zone</a>
                </li>
                {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'warehouse_list_form' %}active{% endif %}">
                    <a href="{% url 'warehouse_list_form' %}"><img src="{% static 'adminuser/images/sidebar/WarehousesIcon.svg' %}"> Warehouses</a>
                </li> {% endcomment %}
                <li class="mb-2 {% if request.resolver_match.url_name in 'courier_list,courier_create,courier_update' %}active{% endif %}">
                    <a href="{% url 'courier_list' %}"><img src="{% static 'adminuser/images/sidebar/DeliveryIcon.svg' %}"> Couriers</a>
                </li>
                
            </ul>
        </li>

        <li class="mb-2 {% if request.resolver_match.url_name in 'list_promotions,create_promotion,coupon_list_form,coupon_create,coupon_update,email_template_list,email_template_create,email_template_update,mailing_list' %}active{% endif %}">
            <a href="{% url 'list_promotions' %}"
               class="d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse"
               data-bs-target="#marketingDropdown"
               aria-expanded="{% if request.resolver_match.url_name in 'list_promotions,create_promotion,coupon_list_form,coupon_create,coupon_update,email_template_list,email_template_create,email_template_update,mailing_list' %}true{% else %}false{% endif %}"
               aria-controls="marketingDropdown">
                <span>
                    <img src="{% static 'adminuser/images/sidebar/PromotionsIcon.svg' %}">
                    Marketing
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-4 mt-2 {% if request.resolver_match.url_name in 'list_promotions,create_promotion,coupon_list_form,coupon_create,coupon_update,email_template_list,email_template_create,email_template_update,mailing_list' %}show{% endif %}" id="marketingDropdown">
                <li class="mb-1 {% if request.resolver_match.url_name in 'list_promotions,create_promotion' %}active{% endif %}">
                    <a href="{% url 'list_promotions' %}"><img src="{% static 'adminuser/images/sidebar/PromotionsIcon.svg' %}"> Promotions</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'coupon_list_form,coupon_create,coupon_update' %}active{% endif %}">
                    <a href="{% url 'coupon_list_form' %}"><img src="{% static 'adminuser/images/sidebar/CouponsIcon.svg' %}"> Coupons</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'email_template_list,email_template_create,email_template_update' %}active{% endif %}">
                    <a href="{% url 'email_template_list' %}"><img src="{% static 'adminuser/images/sidebar/EmailIcon.svg' %}"> Email Templates</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'mailing_list' %}active{% endif %}">
                    <a href="{% url 'mailing_list' %}"><img src="{% static 'adminuser/images/sidebar/ListIcon.svg' %}"> Mailing List</a>
                </li>
            </ul>
        </li>

        <li class="mb-2 {% if request.resolver_match.url_name == 'customer_list' %}active{% endif %}">
            <a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}"> Customers</a>
        </li>
        <li class="mb-2 {% if request.resolver_match.url_name == 'homepage_section_list' %}active{% endif %}">
            <a href="{% url 'homepage_section_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}"> Homepage Sections</a>
        </li>
        {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'warehouse_list_form' %}active{% endif %}">
            <a href="{% url 'warehouse_list_form' %}"><img src="{% static 'adminuser/images/sidebar/WarehousesIcon.svg' %}"> Warehouses</a>
        </li> {% endcomment %}
        <li class="mb-2 {% if request.resolver_match.url_name == 'page_list' %}active{% endif %}">
            <a href="{% url 'page_list' %}"><img src="{% static 'adminuser/images/sidebar/CmsIcon.svg' %}"> CMS Pages</a>
        </li>
        <li class="mb-2 {% if request.resolver_match.url_name in 'adminuser_list,adminrole_list,currency_add_or_update,social_media_list,social_media_create,social_media_update' %}active{% endif %}">
            <a href="{% url 'adminuser_list' %}"
               class="d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse"
               data-bs-target="#settingsDropdown"
               aria-expanded="{% if request.resolver_match.url_name in 'adminuser_list,adminrole_list,currency_add_or_update,social_media_list,social_media_create,social_media_update,order_number_config' %}true{% else %}false{% endif %}"
               aria-controls="settingsDropdown">
                <span>
                    <img src="{% static 'adminuser/images/sidebar/RolesIcon.svg' %}">
                    Settings
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-4 mt-2 {% if request.resolver_match.url_name in 'adminuser_list,adminrole_list,currency_add_or_update,social_media_list,social_media_create,social_media_update,order_number_config' %}show{% endif %}" id="settingsDropdown">
                <li class="mb-1 {% if request.resolver_match.url_name == 'adminuser_list' %}active{% endif %}">
                    <a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff Users</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'adminrole_list' %}active{% endif %}">
                    <a href="{% url 'adminrole_list' %}"><img src="{% static 'adminuser/images/sidebar/RolesIcon.svg' %}"> Roles</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'permission_list' %}active{% endif %}">
                    <a href="{% url 'permission_list' %}"><img src="{% static 'adminuser/images/sidebar/RolesIcon.svg' %}"> Permissions</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'currency_add_or_update' %}active{% endif %}">
                    <a href="{% url 'currency_add_or_update' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> Currency</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'menu_list' %}active{% endif %}">
                    <a href="{% url 'menu_list' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> Menu</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'social_media_list,social_media_create,social_media_update' %}active{% endif %}">
                    <a href="{% url 'social_media_list' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> Social Media</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'service_status_list,service_status_create,service_status_update' %}active{% endif %}">
                    <a href="{% url 'service_status_list' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> Services Status</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name in 'faq_list,faq_create,faq_update' %}active{% endif %}">
                    <a href="{% url 'faq_list' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> FAQ</a>
                </li>
                <li class="mb-1 {% if request.resolver_match.url_name == 'order_number_config' %}active{% endif %}">
                    <a href="{% url 'order_number_config' %}"><img src="{% static 'adminuser/images/sidebar/CurrencyIcon.svg' %}"> Order Number Config</a>
                </li>
            </ul>
        </li>
        {% comment %} <li class="mb-2 {% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">
            <a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}"> Products</a>
        </li> {% endcomment %}
        <li class="mb-2 {% if request.resolver_match.url_name in 'order_list' %}active{% endif %}">
            <a href="{% url 'order_list' %}"
               class="d-flex align-items-center justify-content-between"
               data-bs-toggle="collapse"
               data-bs-target="#orderManagementDropdown"
               aria-expanded="{% if request.resolver_match.url_name in 'order_list' %}true{% else %}false{% endif %}"
               aria-controls="orderManagementDropdown">
                <span>
                    <img src="{% static 'adminuser/images/sidebar/OrderIcon.svg' %}" alt="">
                    Order Management
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled ps-4 mt-2 {% if request.resolver_match.url_name in 'order_list return_list export_orders' %}show{% endif %}" id="orderManagementDropdown">
                <li class="mb-1 {% if request.resolver_match.url_name == 'order_list' %}active{% endif %}">
                    <a href="{% url 'order_list' %}"><img src="{% static 'adminuser/images/sidebar/OrdersIcon.svg' %}"> Orders</a>
                </li>

                <li class="mb-1 {% if request.resolver_match.url_name == 'order_report_page' %}active{% endif %}">
                  <a href="{% url 'order_report_page' %}">
                      <img src="{% static 'adminuser/images/sidebar/OrderReportIcon.svg' %}"> Order Report </a>
                </li>

                <li class="mb-1 {% if request.resolver_match.url_name == 'return_reason_list' %}active{% endif %}">
                  <a href="{% url 'return_reason_list' %}">
                      <img src="{% static 'adminuser/images/sidebar/ReturnsIcon.svg' %}"> Return Reasons
                  </a>
                </li>      
                <li class="mb-1 {% if request.resolver_match.url_name == 'return_list' %}active{% endif %}">
                    <a href="{% url 'return_list' %}"><img src="{% static 'adminuser/images/sidebar/ReturnsIcon.svg' %}"> Manage Returns</a>
                </li>
            </ul>
        </li>

        <li class="mb-2">
            <a href="{% url 'logout' %}"><img src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}" alt=""> Logout</a>
        </li>
</ul>
<!-- Superadmin --> {% endif %}
{% if request.adminuser.role.role == 'Admin' %}
<h5>Seller</h5>
<!-- Admin -->
<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li>
    <li class="mb-2"><a href="{% url 'brand_list' %}"><img
                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
            Brands</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a></li> -->
        <li class="mb-2"><a href="{% url 'brand_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
                        Brands</a></li>
        <li class="mb-2"><a href="{% url 'category_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a>
        </li>
        <li class="mb-2"><a href="{% url 'product_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
                        Products</a></li>
        <li class="mb-2"><a href="{% url 'order_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/OrderIcon.svg' %}">
                        Order Management</a></li>
        <li class="mb-2"><a href="{% url 'rate_by_zone_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/ZoneIcon.svg' %}">
                        Rate By Zone</a></li>

        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
                        Users</a></li>

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}

{% if request.adminuser.role.role == 'catalog_supervisor' %}
<!-- Admin -->
<h5>Seller</h5>

<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'brand_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
                        Brands</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a>
        </li> -->
        <li class="mb-2"><a href="{% url 'product_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
                        Products</a></li>
        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img
                                src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
                        Users</a></li> -->

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}
{% if request.adminuser.role.role == 'order_manager' %}
<!-- Admin -->
<h5>Seller</h5>

<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        <li class="mb-2"><a href="#"><img src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
                        Orders</a></li>
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
            Products</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
            Users</a></li> -->

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}
{% if request.adminuser.role.role == 'shipping_coordinator' %}
<!-- Admin -->
<h5>Seller</h5>

<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        <!-- <li class="mb-2"><a href="#"><img
                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
            Orders</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
            Products</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
            Users</a></li> -->

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}
{% if request.adminuser.role.role == 'marketing_executive' %}
<!-- Admin -->
<h5>Seller</h5>

<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        <!-- <li class="mb-2"><a href="#"><img
                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
            Orders</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
            Products</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
            Users</a></li> -->

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}
{% if request.adminuser.role.role == 'support_agent' %}
<!-- Admin -->
<h5>Seller</h5>

<ul class="list-unstyled components">
        <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                                src="{% static 'adminuser/images/sidebar/DashboardIcon.svg' %}"> Dashboard</a>
        </li>
        <!-- <li class="mb-2 active"><a href="{% url 'vendor_list' %}"><img
                src="{% static 'adminuser/images/sidebar/VendorIcon.svg' %}"> Vendors</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'admin_dashboard' %}"><img
                src="{% static 'adminuser/images/sidebar/OrderManagementIcon.svg' %}"> Order Management</a></li> -->
        <!-- <li class="mb-2"><a href="#"><img
                src="{% static 'adminuser/images/sidebar/BrandsIcon.svg' %}">
            Orders</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'category_list' %}"><img
                src="{% static 'adminuser/images/sidebar/CategoriesIcon.svg' %}"> Categories</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'product_list' %}"><img src="{% static 'adminuser/images/sidebar/ProductIcon.svg' %}">
            Products</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'customer_list' %}"><img src="{% static 'adminuser/images/sidebar/CustomerIcon.svg' %}">
            Customers</a></li> -->
        <!-- <li class="mb-2"><a href="{% url 'adminuser_list' %}"><img src="{% static 'adminuser/images/sidebar/StaffUserIcon.svg' %}"> Staff
            Users</a></li> -->

        <li class="mb-2"><a href="{% url 'logout' %}"><img
                                src="{% static 'adminuser/images/sidebar/LogoutIcon.svg' %}"> Logout</a>
        </li>
</ul>
<!-- Admin -->

{%endif%}