{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'adminuser/css/styles.css' %}">
<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light login-page">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 500px;">
      <img src="{% static 'adminuser/images/dashboard/logo.svg' %}" alt="logo" class="logo-img">
    <h3 class="text-center mb-4">Forgot Password</h3>
    <p class="text-center text-muted mb-4">Enter your email address and we'll send you a link to reset your password.</p>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <!-- Email -->
      <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email|add_class:"form-control" }}
        {% if form.email.errors %}
          <div class="invalid-feedback d-block">{{ form.email.errors }}</div>
        {% endif %}
      </div>
      <div class="text-center mb-3">
        <a href="{% url 'admin-login' %}" class="text-decoration-none small">Back to Login</a>
      </div>
       <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
    </form>
  </div>
</div>
{% endblock %}