{% extends "adminuser/_template.html" %}
{% block search %}
       <form class="d-none d-md-flex ms-3 w-30">
            <div class="input-group rounded-pill">
              <span class="input-group-text bg-white border-end-0 rounded-pill-start">
                <i class="bi bi-search"></i>
              </span>
              <input class="form-control form-control-sm border-start-0 rounded-pill-end" type="search" value="{{ request.GET.searchbar }}"
                placeholder="Search here"  name="searchbar" aria-label="Search">
            </div>
          </form> 
{% endblock search %}
{% block content %}

<div class="container-fluidd px-4">
<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h5 class="page-title">Shipping Rate By Zone</h5>
        <div style="display:flex;gap:10px">
        <a href="{% url 'shipping_rate_by_zone_create' %}" class="btn btn-primary">Create New</a>
        <a href="{% url 'product_zones_rates_import' %}" class="btn btn-primary">Import</a>
        <form action="{% url 'product_zones_rates_export' %}?export_all=true" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Export All</button>
        </form>
        </div>
    </div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="table-responsive">
<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th>Product</th>
      <th class="text-end">Zones</th>
    </tr>
  </thead>

  <tbody>
    {% for zone in shipping_rate_by_zones.data %}
    <tr>
      <td>
        <strong>{{ zone.product_identifier }}</strong>
      </td>
      <td class="text-end">
        <button
          class="btn btn-sm btn-outline-primary"
          data-bs-toggle="collapse"
          data-bs-target="#zones-{{ forloop.counter }}"
        >
          View {{ zone.rates|length }} Zones
        </button>
      </td>
    </tr>

    <tr class="collapse bg-light" id="zones-{{ forloop.counter }}">
      <td colspan="2">
        <div class="p-3">
          <table class="table table-sm table-bordered mb-0">
            <thead class="table-secondary">
              <tr>
                <th>Zone Code</th>
                <th>Zone Name</th>
                <th class="text-end">Rate</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for rate in zone.rates %}
              <tr>
                <td>{{ rate.zone_code }}</td>
                <td>{{ rate.zone.zone_name }}</td>
                <td class="text-end fw-semibold">
                  {{ rate.rate }}
                </td>
                <td>
                  <div class="d-flex gap-2">
                  <a href="{% url 'shipping_rate_by_zone_update' rate.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
             <form action="{% url 'shipping_rate_by_zone_delete' rate.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
                </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </td>
    </tr>

    {% empty %}
    <tr>
      <td colspan="2" class="text-center text-muted py-4">
        No shipping rate by zones configured.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</div>
{% include 'adminuser/_pagination.html' %}
</div>
{% endblock content %}